<div class="showviews">
  <div class="showviews-main">
    <div class="showviews-title">
      <p>Reuniões</p>
    </div>
    <% @meetings.each do |meeting| %>
    <div class="showviews-inner">
        <p><strong>Assunto:</strong> <%= meeting.assunto %> <!--|| Ordem de trablhos: <%= meeting.desc %>--> || <strong>Data:</strong> <%=meeting.data %></p>
        <%= link_to 'Ver', meeting %>
        <%= link_to 'Editar', edit_meeting_path(meeting) %>
        <%= link_to 'Apagar', meeting, method: :delete, data: { confirm: 'Are you sure?' } %>
      </div>
        <% end %>
</div>
<div class="btnviews"><%= link_to 'Actas', records_path %></div>
<div class="btnviews"><%= link_to 'Nova Reuniao', new_meeting_path %></div>
<div class="btnviews"><%= link_to 'Voltar', home_index_path %></div>
</div>