<!DOCTYPE html>
<html>
<head>
	<title>JkProject</title>
	<%= stylesheet_link_tag    "application", media: "all" %>
	<%= javascript_include_tag "application"%>
	<%= csrf_meta_tags %>
	<script type='text/javascript'>

	$(document).ready(function() {
    /*$('#calendar').fullCalendar({
        events: 'https://www.google.com/calendar/feeds/rhv2c6in01krfi28ou1l5nppqk%40group.calendar.google.com/public/basic'
    });*/

$('#calendar').fullCalendar({
	default: 'basicWeek',
	height: 360,
	weekends: false
});
});

</script>
</head>
<body>
	<% if user_signed_in? %>
	<div class="main">
		<div class="topbar">
			<div class="menutop">
				<div class="welcome">
					Bem vindo, <b> <%= current_user.email %> </b> | <a> <%= link_to "Terminar Sessão", destroy_user_session_path, :method => :delete %> </a>
				</div>
			</div>
		</div>
		<%= yield %>
	</div>
	<% else %>
	<%= yield %>
	<%end%>

	<!--<p class="notice"><%= notice %></p>
	<p class="alert"><%= alert %></p>-->
</body>
</html>
